img{
    width: 200px;
    height: 150px;
   
}
body{
    min-height: 100vh;
}
.cheese {
  position: absolute;
  cursor: grab;
  width: 30px;
  height: 50px;
}
.cheese_container{
    min-height: 300px;
}

#sprite {
  width: 100px;
  height: 150px;
  outline: 1px solid red;


  background-image: url("/images/7965101.jpg");
  background-repeat: no-repeat;

  background-size: 400px 300px;

  image-rendering: pixelated; /* even for non-pixel art helps */
}

.image_change{
  width: 300px;
  height: 300px;
   position: relative; /
}


